body {
    font-family: Palatino, "Times New Roman";
    color: #444;
    margin: auto;
    width: 100ex;
    padding: 0;
    line-height: 120%;
}

a:link {text-decoration: none; color: #9C8A6A}
a:visited {text-decoration: none; color: #9C8A6A}
a:hover {text-decoration: underline;}
a:active {}

#header a:link {color: inherit}
#header a:visited {color: inherit}

hr {
    height: 1px;
    color: #AAA;
    background-color: #AAA;
    border: 0;
}

#header {
    position: relative;
    text-align: right;
    color: #EEE;
}

h1,h2, h3, h4, h5 {
}

#header>img { width: 100%; margin-bottom: 1em;}

#header>#title {
    position: absolute;
    top: 0;
    right: 5%;
    text-shadow: 1px 1px 0px #666;	
}

#footer {
    margin-top: 1em;
    font-size: x-small;
}

#menu { text-align: center; }

table { border-collapse: collapse; }
td, th { border: 1px solid grey; padding: 0.5ex;}

.new:before {
    vertical-align: super;
    content: "NEW";
    color: red;
    border: 1px solid red;
}

a.popup + p {display: none}
a.popup:hover + p {display: block; margin: 1em; font-style: italic}