

* {
    margin: 0;
}

html, body {
    height: 100%;
    font-family: 'IBM Plex Sans', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-weight: 100;
}

h2 { font-size: 400%; }
h3 { font-size: 200%; }
h4 {
    font-size: 150%;
    margin-top: 1ex;
    margin-bottom: 0.5ex;
}

time {
    font-size: 60%;
}

a {
    color: lightgrey;
    text-decoration: none;
}

%headfoot {
    position: fixed;
    opacity: 0.85;
    filter: alpha(opacity=85); /* For IE8 and earlier */
    width: 100%;
    background-image: url("/assets/img/background.jpg");
    background-size: 100%;
}

header {
    @extend %headfoot;
    top: 0;
    height: 30%;
    background-position: top;

    nav {
	position: absolute;
	bottom: 0;
	font-size: 90%;

	ul {
	    margin: 0;
	    padding: 0;
	    list-style: none;
	}

	li {
	    display: inline-block;
	    background-color: black;
	    color: white;
	    height: 1em;
	    padding: 0.5em 1em;
	    opacity: 0.85;
	    filter: alpha(opacity=85); /* For IE8 and earlier */

	    a {
		text-transform: uppercase;
		text-decoration: none;
		color: white;
	    }

	}
    }

    h1 {
	font-size: 500%;
	margin: 0;
	text-align: right;
	color: white;
    }
}

footer {
    @extend %headfoot;
    background-size: 100% auto;
    background-position: bottom;
    bottom: 0;
    width: 100%;
    height: 10%;
    color: white;

    p {
	font-size: 80%;
	width: 100%;
	text-align: right;
    }

    img {
	width: 32px;
	height: 32px;
	-webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
	filter: invert(100%);
	padding: 10px;
    }

    #social, p {
	position: absolute;
	top: 50%; /* poussé de la moitié de hauteur du référent */
	transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
    }
}

section {
    background-color: white;
    margin-top: 30%;
    margin-bottom: 10%;
    padding-left: 30%;
    padding-right: 7%;

    img.flush-left {
	margin: 1em 0 1em 0;
	float: left;
	width: 100%;
    }

    article {
	clear: both;
	margin-top: 1ex;
	border-top: 1px solid lightgrey;
	img {
	    float: right;
	    width: 150px;
	    height: 150px;
	}
    }

    ul {
	list-style: none;
	padding: 0;
    }
    li::before { content: "— "; margin-right: 0.5em;}
}

blockquote {
    margin-left: 2em;
    font-style: italic;

    p::before { content: "“ "; }
    p::after { content: " ”"; }
}
