$header-height: 8em;
$footer-height: 2.5em;

* {
	margin: 0;
}

html,
body {
	height: 100%;
	font-family: "Lato", sans-serif;
	font-weight: 300;
	font-style: normal;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: "Libre Baskerville", serif;
	font-weight: 400;
	font-style: italic;
	margin-bottom: 0.5ex;
	margin-top: 0.5ex;
}

h2 {
	font-size: 200%;
	text-transform: uppercase;
}

h3 {
	font-size: 150%;
}

h4 {
	font-size: 120%;
	font-style: normal;

}

time {
	font-size: 60%;
}

a {
	color: LightSlateGrey;
	text-decoration: none;
}

blockquote {
	margin-left: 2em;
	font-style: italic;

	p::before {
		content: "“ ";
	}

	p::after {
		content: " ”";
	}
}

%headfoot {
	position: fixed;
	color: white;
	width: 100%;
	background-image: url("/assets/img/background.jpg");
	background-size: 100%;
}

header {
	@extend %headfoot;
	top: 0;
	height: $header-height;
	background-position: top;
	z-index: 10;

	nav {
		position: absolute;
		bottom: 0;
		font-size: 90%;

		ul {
			margin: 0;
			padding: 0;
			list-style: none;
		}

		li {
			display: inline-block;
			color: white;
			height: 1em;
			padding: 0.5em 1em;

			a {
				text-transform: uppercase;
				font-family: "Libre Baskerville", serif;
				font-style: italic;
				text-decoration: none;
				color: white;
			}
		}

		li.selected {
			background-color: black;
		}
	}

	h1 {
		font-size: 200%;
		font-style: italic;
		margin: 0.5ex;
		padding: 0;

		a {
			color: white;
		}

		#line1 {
			text-transform: uppercase;
			margin-bottom: 0.5ex;
		}

		#line2 {
			font-size: 45%;
		}
	}
}

footer {
	@extend %headfoot;
	height: $footer-height;
	background-size: 100% auto;
	background-position: bottom;
	bottom: 0;
	width: 100%;


	#social {
		img {
			width: 1.5em;
			height: 1.5em;
			padding: 0.5em;
		}

		float: right;
		text-align: right;
	}

	h5 {
		margin: 1.8ex
	}
}

section {
	margin-top: $header-height + 5em;
	margin-bottom: $footer-height;
	padding-left: 25%;
	padding-right: 7%;
	position: relative;

	.video {
		position: relative;
		padding-bottom: 56.25%;
		/* 16:9 */
		height: 0;

		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

		margin-top: -5em;
		margin-bottom: 2em;
	}

	p {
		margin-bottom: 0.5em;
	}

	figure {
		margin: 1em 0 1em 0;
		padding: 0;
		display: block;

		figcaption {
			font-size: 70%;
			text-align: right;
		}

		img {
			width: 100%;
			display: block;
		}
	}

	img.flush-right {
		float: right;
		width: 40%;
	}

	img.flush-right-smaller {
		float: right;
		width: 20%;
	}

	article {
		clear: both;
		margin-top: 1ex;
		margin-right: 5em;
		border-top: 1px solid lightgrey;
	}

	// bandcamp embed
	iframe {
		margin-top: 2em;
	}

	ul {
		list-style: none;
		padding: 0;
	}

	ul li::before {
		content: "— ";
		margin-right: 0.5em;
	}

	figure.thumbnail {
		display: inline-block;
		margin-right: 30px;

		img {
			width: 300px;
			height: 300px;
		}
	}
}
