<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,300" rel="stylesheet">
    <title>{{ page.title }}</title>
  </head>
  <body>
    <header>
      <h1><a href="/">Matthias Puech</a></h1>
      <nav>
        <ul>
          <li><a href="/index.html">News</a></li>
          <li><a href="/about.html">About</a></li>
          <li><a href="/music.html">Music</a></li>
          <li><a href="/projects.html">Projects</a></li>
          <li><a href="/media.html">Media</a></li>
        </ul>
      </nav>
    </header>

    <section>
      {{ content }}
    </section>

    <footer>
      <div id="social">
        <a href="https://www.soundcloud.com/mqtthiqs">
          <img src="/assets/img/soundcloud-icon.png" alt="Facebook" /></a>
        <a href="https://www.facebook.com/matthias.puech">
          <img src="/assets/img/facebook-icon.svg" alt="Facebook" /></a>
        <a href="https://www.youtube.com/channel/UC7K02QcN3yUfxS_n08W-i4A">
          <img src="/assets/img/youtube-icon.svg" alt="Youtube"></a>
        <a href="https://twitter.com/mqtthiqs">
          <img src="/assets/img/twitter-icon.svg" alt="Twitter"></a>
        <a href="https://www.instagram.com/mqtthiqs/">
          <img src="/assets/img/instagram-icon.svg" alt="Instagram"></a>
      </div>
      <p>
        Contact:
        <a href="mailto:matthias.puech@gmail.com">matthias.puech@gmail.com</a>
        <br />
        © Matthias Puech, 2018</p>
    </footer>
  </body>
</html>

